/* Mobile */

    .header__configuration-wrapper{
        display: flex;
        margin: 2rem;
        gap: 2rem;
    }

    .header__configuration-btn{
        background-color: transparent;
        border: none;
    }

    .header__arrow{
        width: 20px;
        height: 20px;
    }
    .header__title{
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 1.5px;
    }
