.appContainer {
  height: 792px;
  width: 368px;

  display: flex;
  align-items: center;
  flex-direction: column;

  font-family: 'Rubik', sans-serif;

  background: linear-gradient(
    0deg,
    rgba(253, 254, 255, 0) 25%,
    rgba(255, 142, 10, 0.53) 75%,
    rgba(255, 142, 10, 0.9) 100%
  );
  overflow: hidden;
  position: relative;
  z-index: 1;
}
