body{
    margin: 0;
    padding: 0;
   
}
.btn_pages{
    margin-top: 0;  
}
.btn_login{
    font-size: 20px;
    width: 80vw;
    margin-top: 10px;
}


.btn_offborder{
    border: 0;
    padding: 0;
    background-color: white;
    font-size: 20px;
    height: 30px;
    padding: 12px 16px 12px 16px
}
.header{
    display: flex;
    flex-direction: row;

}
.Main_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 100vh;
}
.box_login{
    margin-left: 20px;
    margin-top: 50px;
}

#input_password{
    border-color: #E4E6E8;
}
.btn_  {
    background-color: #E4E6E8; /* Color predeterminado del botón */
    color: #FDFEFF;
    padding: 12px, 16px, 12px, 16px;
    border: none;
    cursor: pointer;
    border-radius: 0px 16px 0px 16px;
    width:  320px;
    height: 38px ;
}
.inputs_tamaño{
    border-radius: 0px 16px 0px 16px;
    width: 320px;
    height: 38px ;

}
  
  /* Estilo para el botón cuando el formulario está completo */
.btn_complete {
    background-color: #FF8E0A; /* Cambia el color del botón cuando el formulario está completo */
}
.box_btn_login_forgotpassword{
    display: flex;
    flex-direction: column;
}
.margenes_Abajo{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    border-color: #E4E6E8;   
}
.arrow_position{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
}
.title_login{
    margin-top: 20px;
}
#btn_mostar_password{
    position: absolute;
    top: 14px;
    right: 5px;

}